image: kozora/python3-nodejs:latest

variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    
cache:
  paths:
    - pip-cache
  key: $CI_PROJECT_ID
    
stages:
  - update

update:
  stage: update
  tags:
    - iad
  only:
    - master
  before_script:
    - export PIP_CACHE_DIR="pip-cache"
    - mkdir -p pip-cache
    - pip install -U pip setuptools
    - pip install hererocks
    - hererocks lua_install -r^ --lua=5.3
    - export PATH=$PATH:$PWD/lua_install/bin
    - pip install -r requirements.txt
  script:
    - python LuatableBot.py
